* {
	font-family: "Press Start 2P";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

header {
	background-color: #b87c0ce3;
	height: 10vh;
	border-bottom: 5px solid black;
}

#content {
	background-color: #eebd62;
	height: 86vh;
	padding-top: 70px;
}

#container-top {
	gap: 20px;
}

#container-bottom {
	padding-top: 70px;
}

#container-choices-winner {
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 50px;
}

#round-counter {
	font-weight: bold;
}

#container-choices-winner,
#result,
#sub-result {
	font-size: 20px;
}

#round-counter,
#container-top {
	text-align: center;
}

button {
	background: none;
	border: none;
	border-radius: 50%;
}

#player-container,
#computer-container {
	gap: 15px;
}

#player-container > p,
#computer-container > p {
	width: 179px;
}

#img-container-left,
#img-container-right {
	height: 179px;
	width: 179px;
}

#result,
#sub-result {
	height: 20px;
}

#buttons-container {
	gap: 50px;
}

#restart {
	width: 179px;
}

#restart > button {
	font-size: 40px;
	border: none;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-auto {
	cursor: auto;
}

.opaque-hover:hover,
.opaque {
	opacity: 0.5;
}

footer {
	height: 4vh;
	background-color: black;
	color: white;
	gap: 10px;
}

a > img {
	height: 2.5vh;
	width: 2.5vh;
}
